
<!--navigation-->
{{>layouts/header}}

<!--content-->
<!--배경색상 어둡게, 글씨 하얗게, 상하좌우 여백 5배-->
<div class = "bg-dark text-white p-5">
    <h1>{{username}}님 반갑습니다!</h1>
</div>

<!--site info-->
{{>layouts/footer}}
